body {
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: black;
  }

  .subtitles {
    font-family: 'Advent Pro', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 500;
  }

html, body, .hero, .columns, .column, .is-fullheight {
    height: 100%;
  }

   .menu, .menu--dark {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 20%; 
      overflow-y: auto; 
    }
    .menu {
      background-color: #44C81A;
    }

    .menu--dark {
      background-color: #000;
      z-index: 2;
    }

    .menu-list li a {
      font-family: 'Lato', sans-serif;
    }

    .social-icons{
      margin-left: 10%;
    }

    .social-icons a {
      color: white;
      font-size: .8rem;
    }

    .navbar-bottom-icon {
      position: absolute;
      bottom: 2%;
      left: 50%;
      border: 2px solid black;
      transform: translateX(-50%);
    }

    .home__main {
      display: flex;
    }
    #section--fixed, .menu--dark {
      position: fixed;
    }
    #section--fixed {
      z-index: 1;
    }
  
    #nav-item:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  
  .carousel {
      width: 100%;
  }
  
  .carousel-container {
      display: flex;
      transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
      flex: 0 0 100%;
      text-align: center;
  }
  
  .carousel-item img {
      max-width: 100%;
      height: auto;
  }
  
  /* Pulls out inactive pictures */
  .carousel-item:not(.active) {
      display: none;
  }
  



