
{{ define "styles"}}
 {{ $customCSS := resources.Get "css/presse.css" | resources.ToCSS }}
 <link rel="stylesheet" href="{{ $customCSS.RelPermalink }}">
{{ end }}


{{ define "content" }}
<section class="section has-background-warning-light">
    <div class="container-presse">
        <h1>{{ .Title }}</h1>
        <p class="subtitles mb-2">{{ .Params.subtitle }} </p>
        {{ range .Pages }}
          <div class="columns fond border my-6 p-6" style="background-image: url('{{ .Params.picture|relURL }}');">
            <div class="column border has-background-warning-light">
              <!--  <div class="gauche"> -->
                <p class="mb-3 is-uppercase">{{ .Params.titre }}</p>
                <span> {{ .Date.Year }} </span>
              <!-- </div> -->
            </div>
            <div class="column border is-three-fifths ml-5 has-background-warning-light">
                <p class="mb-1">Critiques</p>
                <span>{{ .Params.revue }} - </span>
                {{ $lien := .Params.lien }}
                {{ if not $lien }}
                  {{ with (resources.GetMatch (printf "spectacles/%s/presse*.pdf" .File.BaseFileName)) }}
                    {{ $lien = .Permalink }}
                  {{ end }}
                {{ end }}
                
                {{ if $lien }}
                  <a href="{{ $lien }}" target="_blank">Télécharger la revue</a>
                {{ end }}
            </div>
          </div>
        {{ end }}
    </div>
</section>

{{ end }}